@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  display: flex;

  margin: 0;
  padding: 0;
  border: 0;

  font-family: Montserrat;
  line-height: 1.5;
  font-weight: 400;

  color: #ffffff;
  background-color: #3b3b3b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
}
